@charset "UTF-8";

@media only screen and (min-width:768px) {
    section#login {
        width: 80vh;

    }

    section#login div#imagem {
        float: left;
        width: 40%;
        height: 100%;
        background-size: cover;
        background-position: center ;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.506) ;
    }

    section#login div#formulario {
        float: right;
        width: 60%;
    }
    div#formulario p{
        font-size: 1.6em;
    }

}

@media only screen and (min-width:992px) {
    section#login {
        width: 90vh;

    }

    section#login div#imagem {
        float: right;
        width: 50%;
        height: 100%;
        background-size: cover;
        background-position: center;
        box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.506)
    }

    section#login div#formulario {
        float: left;
        width: 50%;
    }
   
    div#formulario p{
        font-size: 1.6em;
    }



}